ol {
    margin-left: -40px;
    margin-top: -20px;
    list-style-position: inside;
  }
  
  /* Write your CSS below, don't change the rules above. */
  h1 {
    text-transform: uppercase;
    font-size: 2rem;
    font-family: "libre-baskerville-bold";
  }

  
h1[value="1"]{color: #43766C; background-color:#B19470}


.note{font-size: 20px}
  #id-selector-demo{color: green}
  li[value="4"]{color: blue}
.align{text-align: center;}

img[value="gmprofile"]{align-: center; 
    height: 120px; 
    width: 120px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: solid 4px #B19470
}

html{background-color: #481E14}
*{color: #B19470}

.roboto-mono {
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 40px;
    font-style: normal;
  }


  .poster{
    text-align: center;
    color: #B19470;
    margin-left: 25px;
    margin-top: 20px;
  }

  
  .intro_img{

    border: 5px solid #B19470;
    width: 40%;
  }

  .intro{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }